//Variables
$black: #000000;
$white: #ffffff;
$grey: #ABABAB;
$lightgrey: #FAFAFA;

//Mixins
@mixin clearfix{
    &::after {
        content: "";
        clear: both;
        display: table;
      }
}

//Admin
.questionList{
    margin-bottom: 50px;

    .Polaris-Stack--noWrap{
        padding: 5px 20px 20px;
    }
}

.productBlock{
    @include clearfix;

    .productImage{
        width: 25%;
        float: left;

        img{
            max-width: 100%;
        }
    }

    .productText{
        width: 75%;
        float: left;
        padding-left: 20px;
    }

}

h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}

//Questions
.positive,
.negative{
    h3{
        font-size: 16px;
    }

    .Polaris-Stack{
        margin-top: 0;

        &> .Polaris-Stack__Item {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}

.negative{
    .Polaris-Tag{
        background-color: #f99;
    }
}

.positive{
    .Polaris-Tag{
        background-color: #9f9;
    }
}

//Preview Page
.quizrWrap{
    position: relative;
    height: 100vh;
    width: 100%;

    iframe{
        width: 100%;
        min-height: 100%;
        border: 0;
      }
}