//Variables
$black: #000000;
$white: #ffffff;
$grey: #ABABAB;
$lightgrey: #FAFAFA;

//Admin
.questionList{
    margin-bottom: 50px;
    .Polaris-Stack--noWrap{
        padding: 5px 20px 20px;
    }
}

h3{
    font-weight: 1.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }